<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <a id="_menu" class="menu" href="#_sidebar">☰</a>

    <main class="content container">
      {{ content }}
    </main>

    {% include sidebar.html %}

    <script src="{{ site.baseurl }}/public/js/hydejack.js" async></script>
    <!--<script>-->
      <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
              <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
      <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

      <!--ga('create', 'UA-78905127-1', 'auto');-->
      <!--ga('send', 'pageview');-->

    <!--</script>-->

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?126f4f5d3757aebd7f9e1bc1d854f79f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
